# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/231101/.vs/231101/FileContentIndex
/231101/.vs/231101/v17/ipch/AutoPCH/a7fe65af17e8bb9b
/231101/.vs/231101/v17
/test/.vs/test
/231102/x64/Debug/231102.tlog
/231102/x64/Debug
/231102/.vs/231102
/ConsoleApplication1/.vs/ConsoleApplication1
/ConsoleApplication1/x64/Debug
/231102/Debug
/231103/.vs/231103
/231103/231103/x64/Debug
/231103/x64/Debug
/intel_edge/.vs/intel_edge
/intel_edge/Test1/x64/Debug
/intel_edge/x64/Debug
/intel_edge/Test1/Debug
/intel_edge/Debug
/MIssion_REC/.vs/MIssion_REC
/MIssion_REC/MIssion_REC/x64/Debug
/MIssion_REC/x64/Debug
/MissionRect/.vs/MissionRect
/MissionRect/MissionRect/x64/Debug
/MissionRect/x64/Debug
/MissionRect/MissionRect/Debug
/231117_student/.vs/231117_student
/231117_student/231117_student/x64/Debug
/231117_student/x64/Debug
/231117_student_test
/231127/231127/x64/Debug
/231127/.vs/231127
/231127/x64/Debug
/template_Test/.vs/template_Test
/template_Test/template_Test/x64/Debug
/template_Test/x64/Debug
